.red
{
    padding: 10px;
    border-radius: 30px;
    background-color: red;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.blue:focus{
    outline: none;
}
.green:focus{
    outline: none;
}
.yellow:focus{
    outline: none;
}
.black:focus{
    outline: none;
}
.white:focus{
    outline: none;
}
.orange:focus{
    outline: none;
}
.red:focus{
    outline: none;
}

.blue
{
    padding: 10px;
    border-radius: 30px;
    background-color:blue;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.green
{
    padding: 10px;
    border-radius: 30px;
    background-color:green;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.yellow
{
    padding: 10px;
    border-radius: 30px;
    background-color:yellow;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.black
{
    padding: 10px;
    border-radius: 30px;
    background-color:black;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.white
{
    padding: 10px;
    border-radius: 30px;
    background-color:white;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.orange
{
    padding: 10px;
    border-radius: 30px;
    background-color:orange;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
#head{
    display: flex;
    align-items: center;
    justify-content: ;
    flex-direction: column;
}


